body {
    font-size: 16px;
    font-family: Arial;
    box-sizing: border-box;
    background-color: #f7f7f1;

    &.no-scroll {
        overflow: hidden;
    }
}

*{
    box-sizing: inherit;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

// HELPERS

.container {
    max-width: 1200px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.demo-responsive {
    width: 33%;

    @include _768 {
        width: 50%;
    }

    @include _480 {
        width: 100%;
    }
}

// hidden svg-sprite block

.svg-vect-sprite {
    position: absolute;
    top: -999999px;
    left: -999999px;
}