/* responsive columns */
$resolutions: (
  8: 8.33%, 10: 10%,12: 12.5%,15: 15%,16: 16.66%,18: 18%,20: 20%,23: 23%,25: 25%,30: 30%,32: 32%,33: 33.33%,40: 40%,50: 50%,60: 60%,66: 66.66%,68: 68%,70: 70%,75: 75%,77: 77%,80: 80%,82: 82%,83: 83.34%,85: 85%,88: 88%,90: 90%,92: 92%,100: 100%
);

.row {margin: 0 -20px; display: flex; flex-wrap: wrap;
  &-v-center {align-items: center;}
  &-h-center {justify-content: center;}
  &-top {align-items: flex-start;}
  &-bottom {align-items: flex-end;}
  &-right {justify-content: flex-end;}
  &-left {justify-content: flex-start;}
}

.offset-left {
  @for $i from 1 through 100 {
    @if $i % 10 == 0 {
      &-#{$i} {margin-left: #{$i + '%'};}
    }
  }

  @media (max-width: $tablet) {
    @for $i from 1 through 100 {
      @if $i % 10 == 0 {
        &-t-#{$i} {margin-left: #{$i + '%'};}
      }
    }
  }

  @media (max-width: $mobile) {
    @for $i from 1 through 100 {
      @if $i % 10 == 0 {
        &-m-#{$i} {margin-left: #{$i + '%'};}
      }
    }
  }

  @media (max-width: $mobile) {
    @for $i from 1 through 100 {
      @if $i % 10 == 0 {
        &-t-#{$i} {margin-left: unset;}
      }
    }
  }



}

.offset-right {
  @for $i from 1 through 100 {
    @if $i % 10 == 0 {
      &-#{$i} {margin-right: #{$i + '%'};}
    }
  }

  @media (max-width: $tablet) {
    @for $i from 1 through 100 {
      @if $i % 10 == 0 {
        &-t-#{$i} {margin-right: #{$i + '%'};}
      }
    }
  }

  @media (max-width: $mobile) {
    @for $i from 1 through 100 {
      @if $i % 10 == 0 {
        &-m-#{$i} {margin-right: #{$i + '%'};}
      }
    }
  }

  @media (max-width: $mobile) {
    @for $i from 1 through 100 {
      @if $i % 10 == 0 {
        &-t-#{$i} {margin-right: unset;}
      }
    }
  }
}

.order {
  @for $i from 1 through 10 {
    &-#{$i} {order: #{$i};}
  }

  @media (max-width: $tablet) {
    @for $i from 1 through 10 {
      &-t-#{$i} {order: #{$i};}
    }
  }

  @media (max-width: $mobile) {
    @for $i from 1 through 10 {
      &-m-#{$i} {order: #{$i};}
    }
  }

}


.col {padding: 0 20px; min-height: 1px; box-sizing: border-box; flex: 1 0 0;
  @each $class, $size in $resolutions {
    &-#{$class} {max-width: $size; flex-basis: $size;}
  }
  @media (max-width: $tablet) {
    @each $class, $size in $resolutions {
      &-t-#{$class} {max-width: $size; flex-basis: $size;}
    }
  }
  @media (max-width: $mobile) {
    @each $class, $size in $resolutions {
      &-m-#{$class} {max-width: $size; flex-basis: $size;}
    }
  }
}