-
  var navList = [
    {name: 'услуги и цены', link: 'index.html'},
    {name: 'мастер классы и обучение', link: 'index.html'},
    {name: 'витрина', link: 'index.html'},
    {name: 'это интересно', link: 'index.html'},
    {name: 'контакты', link: 'index.html'}
  ];

