doctype html
html(lang="ru")
    include partails/head.pug
    body

        include partails/header.pug

        h1 Особенности шаблона:
        ul
            li Поддержка es6 синтаксиса (примеры в src/js/partails/common.js)


        include partails/footer.pug
        include partails/scripts.pug
