doctype html
html(lang="ru")
  include partials/head.pug
  body

    include partials/header.pug

    h1 Особенности шаблона:
    ul
      li Поддержка es6 синтаксиса (примеры в src/js/partails/common.js)


    include partials/footer.pug
    include partials/scripts.pug
