doctype html
html(lang="ru")
    include partails/head.pug
    body

        include partails/header.pug

        // Использование svg-спрайта
        +icon('cart', 'red-mode')


        include partails/footer.pug
        include partails/scripts.pug
