doctype html
html(lang="ru")
    //= partails/head.pug
    body

        .header
            h1.header__title Header
            img.header__img(src="", alt="")
            a.header__link link


        //= partails/footer.pug