doctype html
html(lang="ru")
    include partails/head.pug
    body

        .header
            h1.header__title Header
            img.header__img(src="", alt="")
            li
                a.header__link link


        include partails/footer.pug
