doctype html
html(lang="ru")
    include base/_head.pug
    body

        .header
            h1.header__title Header
            img.header__img(src="", alt="")
            a.header__link link


        include blocks/footer/footer.pug


        script(src="./js/main.js")