include vars.pug
include mixins.pug

header.header
    .header__logo-line
        img.header__logo.logo(src="images/logo.jpg")
    nav.header__nav.nav
        ul.nav__list.container
            each item in navList
                li.nav__item
                    a.nav__link(href=item.link)=item.name